

h1 {
font-family: Helvetica;
font-size: 100px;
font-weight: bold;
color: khaki;
background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1hlxvyl*_ga*NzEyMTQ2NDMzNy4xNjcwMTUxNTUz*_ga_3LRZM6TM9L*MTY3ODA0MjY1Mi42My4xLjE2NzgwNDI2NTcuMC4wLjA.");

*}

h2 {
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
color: white;
text-align: left;
}

h3 {
    font-family: Helvetica;
    color:   
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

.highlighted {
font-family: Helvetica;
font-weight: bold;
color: blue;
}

p {
    color: black;
    align-items:left;
}